@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  padding: 2em 1em;
  text-align: center;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/*Custom varients do not need module definitions*/
@variants hover, responsive {
  .red-bg {
    background-color: red;
  }
}

/*TODO: Library of reusable CSS classes*/
.warning {
  display: none;
}

.warning--show {
  display: block;
}
