@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Set default link colors
a {
  color: #0000ee;
  text-decoration: underline;
}

/*Custom varients do not need module definitions*/
@variants hover, responsive {
  .red-bg {
    background-color: red;
  }
}

/*TODO: Library of reusable CSS classes*/
.warning {
  display: none;
}

.warning--show {
  display: block;
}
