<%# Nav for admin and marketing site %>
<nav class="flex w-full border-solid border-gray-300 border-b justify-between px-8 py-6 items-center">
  <a href="/">puedo.</a>
  <div>
    <a href="#">log in</a>
    <a class="ml-3" href="#">sign up</a>
  </div>
</nav>